@tailwind base;
@tailwind components;
@tailwind utilities;

.main { 
  position: relative;
  width: 100%;
  height: 100vh;
}

.main video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.about {
  background: url("./assets/BrandLogo.svg");
  background-repeat: no-repeat;
}

.employe {
  background: url("./assets/about.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: left;
}
.advantages {
  background: url("./assets/advantages.png");
  background-repeat: no-repeat;
  object-fit: contain;
}

.company {
  background: url("./assets/bg-new.svg");
  background-repeat: repeat-x !important;
  object-fit: cover;
}
.contact {
  background: url("./assets/bg-footer.png");
  background-repeat: repeat-x !important;
  object-fit: cover;
}

.contactFull {
  background: url("./assets/bg-main.jpg");
  background-repeat: repeat-x !important;
  object-fit: cover;
}
 
 

